---
import BaseLayout from "../layouts/BaseLayout.astro"
const pageTitle = "About Me";

const games = [
  {
    name: "ULTRAKILL",
    url: "https://store.steampowered.com/app/1229490/ULTRAKILL/"
  },
  {
    name: "Balatro",
    url: "https://store.steampowered.com/app/2379780/Balatro/"
  },
];

const books = [
  {
    name: "On Tyranny: Twenty Lessons from the Twentieth Century",
    url: "https://app.thestorygraph.com/books/e36e1a7c-90d5-4fca-92cc-20b225228db9"
  },
  {
    name: "The Fifth Season",
    url: "https://app.thestorygraph.com/books/6d74f9d0-c0ad-40f8-abc2-3d8016467c1d"
  },
];

const tools = [
  {
    name: "Kitty",
    url: "https://sw.kovidgoyal.net/kitty/"
  },
  {
    name: "Neovim",
    url: "https://neovim.io/"
  },
  {
    name: "Neorg (org-mode, for Neovim!)",
    url: "https://github.com/nvim-neorg/neorg"
  }
];

const work = { name: "Array", url: "https://array.com" };
---
<BaseLayout pageTitle={pageTitle}>
  <h2>Oh Hey!</h2>
  <p>
    I'm Erick Diaz. I edit text files for a living and like to pretend that I can write sometimes. This here is a blog that I'm bad at updating, but I drop the occasional nugget of wisdom. Mostly it's a place for me to put thoughts to digital paper, document some of my learnings, and yap into the void.
  </p>
  <p>Anyway, I like lists. Here are a few of my favorite things.</p>
  <h2>Games I'm playin'</h2>
  <ul>
    {games.map((game) => <li><a href={game.url}>{game.name}</a></li>)}
  </ul>
  <h2>Books I'm readin'</h2>
  <ul>
    {books.map((book) => <li><a href={book.url}>{book.name}</a></li>)}
  </ul>
  <h2>Tools I'm jivin'</h2>
  <ul>
    {tools.map((tool) => <li><a href={tool.url}>{tool.name}</a></li>)}
  </ul>
</BaseLayout>
